# Misun
tfrpc/client/yolo_pb2_grpc.py
tfrpc/client/yolo_pb2.py
tfrpc/server/misun.txt
tfrpc/server/yolo_pb2_grpc.py
tfrpc/server/yolo_pb2.py
tfrpc/server/checkpoints
tfrpc/server/__pycache__

tfrpc/client/__pycache__

scripts/ramfs
temp

scripts/data/*
scripts/moved_data/*
mobilenetv2/data/*
mobilenetv2/moved_data/*
scripts/dockerfiles/yolov3.weights
data/yolov3.weights
scripts/yolov3.weights
