# Misun
tfrpc/client/yolo_pb2_grpc.py
tfrpc/client/yolo_pb2.py
tfrpc/server/misun.txt
tfrpc/server/yolo_pb2_grpc.py
tfrpc/server/yolo_pb2.py
tfrpc/server/checkpoints
tfrpc/server/__pycache__

tfrpc/client/__pycache__

scripts/ramfs
temp

scripts/data/*
scripts/moved_data/*
!scripts/moved_data/data_aggregator.py
!scripts/moved_data/mon/remove_mon.py
!scripts/moved_data/50/cprofile/parseprof.sh
!scripts/moved_data/80/cprofile/parseprof.sh
!scripts/moved_data/50/cprofile/parseprof
!scripts/moved_data/80/cprofile/parseprof

mobilenetv2/data/*
mobilenetv2/moved_data/*
!mobilenetv2/moved_data/data_aggregator.py
!mobilenetv2/moved_data/mon/remove_mon.py
!mobilenetv2/moved_data/50/cprofile/parseprof.sh
!mobilenetv2/moved_data/80/cprofile/parseprof.sh
!mobilenetv2/moved_data/50/cprofile/parseprof
!mobilenetv2/moved_data/80/cprofile/parseprof

scripts/dockerfiles/yolov3.weights
data/yolov3.weights
scripts/yolov3.weights
