# Misun
tfrpc/client/yolo_pb2_grpc.py
tfrpc/client/yolo_pb2.py
tfrpc/server/misun.txt
tfrpc/server/yolo_pb2_grpc.py
tfrpc/server/yolo_pb2.py
tfrpc/server/checkpoints
tfrpc/server/__pycache__

tfrpc/client/__pycache__

scripts/ramfs
temp

scripts/data/*
scripts/moved_data/mon/latency/*
scripts/moved_data/mon/perf/*
scripts/moved_data/mon/rusage/*
scripts/moved_data/50/latency/*
scripts/moved_data/50/perf/*
scripts/moved_data/50/rusage/*
scripts/movde_data/50/cprofile/1/*
scripts/movde_data/50/cprofile/5/*
scripts/movde_data/50/cprofile/10/*
scripts/movde_data/50/cprofile/aggregate/*
scripts/moved_data/80/latency/*
scripts/moved_data/80/perf/*
scripts/moved_data/80/rusage/*
scripts/movde_data/80/cprofile/1/*
scripts/movde_data/80/cprofile/5/*
scripts/movde_data/80/cprofile/10/*
scripts/movde_data/80/cprofile/aggregate/*

mobilenetv2/data/*
mobilenetv2/moved_data/mon/latency/*
mobilenetv2/moved_data/mon/perf/*
mobilenetv2/moved_data/mon/rusage/*
mobilenetv2/moved_data/50/latency/*
mobilenetv2/moved_data/50/perf/*
mobilenetv2/moved_data/50/rusage/*
mobilenetv2/movde_data/50/cprofile/1/*
mobilenetv2/movde_data/50/cprofile/5/*
mobilenetv2/movde_data/50/cprofile/10/*
mobilenetv2/movde_data/50/cprofile/aggregate/*
mobilenetv2/moved_data/80/latency/*
mobilenetv2/moved_data/80/perf/*
mobilenetv2/moved_data/80/rusage/*
mobilenetv2/movde_data/80/cprofile/1/*
mobilenetv2/movde_data/80/cprofile/5/*
mobilenetv2/movde_data/80/cprofile/10/*
mobilenetv2/movde_data/80/cprofile/aggregate/*

scripts/dockerfiles/yolov3.weights
data/yolov3.weights
scripts/yolov3.weights
